venv/
__pycache__/
.DS_Store
*.pyc

celebrities_data.json
generated_biographies.json
extracted_facts.json
fact_verification_results.json
consensus_contradiction_scores.json
nli_consensus_contradiction_scores.json
fact_consistency_scores.json
fact_consistency_scores_65.json
person_consistency_summary_65.json
test.py

venv/
__pycache__/
.DS_Store
*.pyc
ragas_evals.py
celebrities_data.json
generated_biographies.json
extracted_facts.json
fact_verification_results.json
consensus_contradiction_scores.json
nli_consensus_contradiction_scores.json
fact_consistency_scores.json
fact_consistency_scores_65.json
person_consistency_summary.json
person_consistency_summary_65.json
self_eval_confidence_scores.json
ragas_faithfulness_scores.json
ragas_faithfulness_scores_subset.json